*.g4 linguist-language=ANTLR
*.js linguist-generated
src/TypeScript/antlr4es6/*.ts linguist-generated
src/TypeScript/antlr4ts/*.ts  linguist-generated
src/Chat/*.ts       linguist-generated
src/Cloze/*.ts      linguist-generated
src/Choice/*.ts     linguist-generated
src/Interview/*.ts  linguist-generated
src/Match/*.ts      linguist-generated
src/Flashcard/*.ts  linguist-generated
src/MiscBits/*.ts   linguist-generated
src/Truefalse/*.ts  linguist-generated
src/Sequence/*.ts   linguist-generated
node_modules/*.ts   linguist-documentation